<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Tests Suite" parallel="false" verbose="1">
    <listeners>
        <listener class-name="commons.ListenerUtils"/>
    </listeners>
    <test name="Book API Tests">
        <classes>
            <class name="org.restAssured.herokuAPI.getMethods"/>
            <class name="org.restAssured.herokuAPI.PostMethods"/>
            <class name="org.restAssured.herokuAPI.DeleteMethod"/>
        </classes>
    </test>
    <test name="eCommerce Validation">
        <classes>
            <class name="eCommerce.eCommercePurchseSingleProduct"/>
        </classes>
    </test>

</suite>
